{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:jest/recommended",
    "airbnb-typescript",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
